.brlb-block-btn .brlb-block-btn-icon,
.brlb-block-btn-icon {
    pointer-events: none;
    user-select: none;
    width: 22px;
    height: 22px;
    color: #fff
}

.brlb-block-btn-icon {
    background-image: url(../../resources/block_btn.svg)
}

.brlb-block-btn {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 72px;
    right: 8px;
    width: 28px;
    height: 28px;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgba(33, 33, 33, .8);
    z-index: 9;
    transform: translateZ(0)
}

.brlb-block-btn .brlb-block-btn-tip {
    pointer-events: none;
    user-select: none;
    position: absolute;
    bottom: -6px;
    right: -10px;
    transform: translateY(100%);
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    line-height: 18px;
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, .8);
    white-space: nowrap
}

.brlb-block .v-img.bili-video-card__cover {
    background-image: url(../../resources/img.svg)
}
